{
  "presets": [
    "@babel/preset-react",
    ["@babel/preset-env", { "targets": { "browsers": ["last 2 versions"] }, "modules": false }]
  ],

  "plugins": [[
    "@babel/plugin-proposal-decorators",
    {
      "legacy": true
    }
  ], "transform-class-properties"],

  "env": {
    "production": {
      "presets": ["@babel/preset-react"],
      "plugins": ["@babel/plugin-transform-runtime", "ramda", "lodash"]
    },

    "test": {
      "presets": [
        ["@babel/preset-env", { "targets": { "browsers": ["last 2 versions"] } }]
      ],
      "plugins": [["module-resolver", { "root": ["./src"] }]]
    }
  }
}
